[LOCAL_PATHS]

INSTALL_ROOT   = /home/shared/dev/day/git/better_tande_tools

[BETTER_DATAPREP]

BPJSON_SCHEMA_NAME     = v8f
BPJSON_SCHEMA_FILE     = config/bpjson-schema-v8f.json

[WORKINGDIR]
# This directory is used to store a variety of intermediate files and
# subdirectories. At the present time, no cleanup is being performed.
TEMPDATA = /home/shared/dev/day/tmp

##########################################################################
### ------------------------------  NOTICE  ------------------------------
### 
### This software (or technical data) was produced for the U.S. Government
### under contract 2015-14120200002-002, and is subject to the Rights in
### Data-General Clause 52.227-14 , ALT IV (MAY 2014) or (DEC 2007).
### 
### © 2019 The MITRE Corporation. All Rights Reserved.
### 
### ----------------------------------------------------------------------
##########################################################################


########################################################################
## This file is in Python configfile format.
##
## Versions:
##  dataprep.config.in
##    This is the base template, indicating all the options captured
##    in this configuration and which can or must be specified for
##    any particular system to be fully configured and runnable.
##
##  dataprep.config
##    This is the version used at runtime by individual
##    checked-out instances. We assume particular files, directories,
##    and other parameters have been specified.  NOTE: This version
##    shouldl not be retained in the git archive, so that one person's
##    configurations, established for one particular server/instance,
##    do not interfere with another's.
##
##  <server-name>.config.<user-name>
##    This is the version that captures <user-name>'s checked out
##    configuration as set up for running on the computer <server-name>.
##
########################################################################
